header {
    /* text styles */
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* font-family: 'Averia Sans Libre', sans-serif; */
    text-align: center;
    background-color: white;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 10px 0px 10px;

    /* background photo */
    /* background-image: url(/graphics/pexels-eberhard-grossgasteiger-12527029.jpg);
    /* title add:Photo by eberhard grossgasteiger: https://www.pexels.com/photo/drone-shot-of-foggy-mountains-during-sunset-12527029/ */
    /* background-color: #cccccc;
    background-position: bottom; */
}

#main_header {
    background-image: url(../bgallegos8/graphics/pexels-jeremy-müller-6306297.jpg);
    /* Photo by Jeremy Muller: https://www.pexels.com/photo/galaxy-wallpaper-6306297/ */
}

#coding_header {
    background-image: url(../bgallegos8/graphics/pexels-pixabay-270366.jpg);
    /* Photo by Pixabay: https://www.pexels.com/photo/html-code-270366/ */

}

#about_header {
    background-image: url(../bgallegos8/graphics/pexels-min-an-1425146.jpg);
    /* Photo by Min An: https://www.pexels.com/photo/close-up-photo-of-vintage-typewriter-1425146/  */
    background-size: cover;
    background-position: center;
}

#work_header {
    background-image: url(../bgallegos8/graphics/pexels-pixabay-258947.jpg);
    /* Photo by Pixabay: https://www.pexels.com/photo/stadium-with-empty-chairs-258947/  */
    background-size: cover;
    background-position: center;
}

.coding_header_text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

#coding_header {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}

#work_header {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}

.work_header_text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

#about_header {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}

.about_header_text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

nav {
    border-style: solid;
    border-color: rgb(72, 72, 174);
    border-width: 5px;
    box-shadow: 3px 3px 10px black;
}

nav,
.nav_bar {
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* text styles */
    background-color: rgb(125, 173, 239);
    font-weight: bold;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;

    position: relative;

    text-shadow: 2px 2px 4px #0000007c;

}

/* dropdowns on nav */
.nav_bar:hover .dropdown_content {
    display: block;
}

/* any unvisited links */
a:link {
    color: rgb(79, 26, 225);
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: rgb(87, 9, 129);
}

/* any hovered link */
a:hover {
    color: rgb(24, 24, 184);
    text-decoration: underline;
    font-size: 105%;
}

/* any selected link */
a:active {
    color: red;
}


body {
    background-color: rgb(184, 207, 238);
}

.main_ben_photo {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
}

.main_ben_photo:hover {
    scale: 105%;
}

#about_headshot_photo {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
}

#about_headshot_photo:hover {
    scale: 105%;
}


/* main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

#main_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#coding_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_para1 {
    /* positioning */
    position: center;
    top: 25%;

    /* text edits */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

}

.main_parent1 {
    /* to keep the divs next to eachother */
    width: 75%;
}

.socials {
    display: flex;
    justify-content: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;

    text-shadow: 2px 2px 4px #0000007c;
}

.icons {
    width: 30px;
    height: 30px;
}

/* START OF CODING PROJECT PAGE CSS */

.coding_header {
    font-family: 'Courier New', Courier, monospace;
}

.coding_images {
    width: 800px;
    height: auto;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.coding_list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}
.coding_list2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

#coding_div1 {
    order: 1;
}

.coding_div2 {
    order: 5;
}

.coding_div3 {
    order: 6;
}

#coding_div4 {
    order: 7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

}

#coding_div5 {
    order: 8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.coding_parent1 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 3;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_parent2 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 4;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_parent3 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 7;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_parent4 {
    order: 9;
    width: 50%;
    padding: 25px 25px 25px 25px;
    font-size: 1rem;
}

.coding_para1 {
    /* positioning */
    position: center;

    /* text edits */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

/* dropdown menu */
.dropdown {
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(174, 187, 237);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(21, 0, 255);
}

.dropdown_content a:link {
    color: rgb(79, 26, 225);
}

.dropdown_content a:hover {
    background-color: rgb(168, 172, 175);
}

.dropdown_content a:visited {
    color: rgb(87, 9, 129);
}

.dropdown_content a:active {
    color: red;
}

.keywords {
    color: red;
    background-color: yellow;
}

/* About Page CSS */
.about_me_container {
    display: flex;
    background-color: rgba(111, 111, 218, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
}

.about_me_container2 {
    display: flex;
    background-color: rgba(218, 120, 111, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    
}

.about_me_container3 {
    display: flex;
    background-color: rgba(193, 111, 218, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    
}

.about_me_container4 {
    display: flex;
    background-color: rgba(218, 145, 111, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    
}

.about_me_container5 {
    display: flex;
    background-color: rgba(111, 218, 197, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    
}

.about_me_container6 {
    display: flex;
    background-color: rgba(111, 118, 218, 0.719);
    border-radius: 2%;
    flex-grow: 1;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    
}

.about_me_child {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
}  

.about_me_header {
    font-size: 4em;
    text-shadow: 2px 2px 4px #0000007c;
}

.about_figcaption1 {
    font-size: small;
}

.about_me_descriptions {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #0000007c;
}

/* work-history css */

.work_title_text {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(149, 1, 1);
    font-size: 3em;
    /* padding-left: 20%; */
    text-align: center;
    text-shadow: 2px 2px 4px #0000007c;
}

.work_arrows {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work_text {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(149, 1, 1);
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px #0000007c;
}

#work_college {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-laura-tancredi-7078712.jpg);
    /* Photo by Laura Tancredi: https://www.pexels.com/photo/white-textured-abstract-architectural-wavy-wall-7078712/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
}

#work_college2 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-laura-tancredi-7078502.jpg);
    /* Photo by Laura Tancredi: https://www.pexels.com/photo/part-of-geometric-building-with-metallic-wall-7078502/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: end;
}

#work_college3 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-brett-sayles-4857499.jpg);
    /* Photo by Brett Sayles: https://www.pexels.com/photo/old-brick-wall-with-colorful-paints-in-form-of-rainbow-4857499/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: end;
}

#work_college4 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-juan-pablo-serrano-arenas-1242348.jpg);
    /* Photo by Juan Pablo Serrano Arenas: https://www.pexels.com/photo/blurry-image-of-a-brownish-background-1242348/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: start;
}

#work_college5 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-zaksheuskaya-1568607.jpg);
    /* Photo by Zaksheuskaya: https://www.pexels.com/photo/blue-abstract-painting-1568607/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: start;
}

#work_college6 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-ben-mack-6775241.jpg);
    /* Photo by Ben Mack: https://www.pexels.com/photo/colorful-background-with-glowing-stripes-of-rainbow-6775241/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: start;
}

#work_college7 {
    display: flex;
    background-image: url(./../bgallegos8/graphics/pexels-codioful-\(formerly-gradienta\)-7130472.jpg);
    /* Photo by Codioful (formerly Gradienta): https://www.pexels.com/photo/colorful-blue-lights-on-abstract-background-7130472/ */
    background-size: cover;
    flex-grow: 1;
    border-radius: 2%;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.567);
    flex-wrap: wrap;
    justify-content: end;
}

.work_child {
    position: relative;
    width: fit-content;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: rgb(149, 1, 1);
    text-shadow: 2px 2px 4px #0000007c;
}  

.work_child_text {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

.work_child_text2 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff7c;
}

.work_child_text3 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff7c;
}

.work_child_text4 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px #0000007c;
}

.work_child_text5 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: left;
    text-shadow: 2px 2px 4px #0000007c;
}

.work_child_text6 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px #0000007c;
}

.work_child_text7 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff7c;
}

.work_figcaption1 {
    font-size: small;
}

.work_img:hover {
    scale: 105%;
}

.work_img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


footer {
    background-color: rgb(125, 173, 239);
    padding: 10px;
    
}