header {
    /* text styles */
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* font-family: 'Averia Sans Libre', sans-serif; */
    text-align: center;
    background-color: white;

    /* background photo */
    /* background-image: url(/graphics/pexels-eberhard-grossgasteiger-12527029.jpg);
    /* title add:Photo by eberhard grossgasteiger: https://www.pexels.com/photo/drone-shot-of-foggy-mountains-during-sunset-12527029/ */
    /* background-color: #cccccc;
    background-position: bottom; */
}

#coding_header {
    background-image: url(/bgallegos8/graphics/pexels-pixabay-270366.jpg);
    /* Photo by Pixabay: https://www.pexels.com/photo/html-code-270366/ */
}

.coding_header_text {
    color: rgb(0, 181, 9);
    text-shadow: 2px 2px 0px yellow;
}

nav {
    border-style: solid;
    border-color: rgb(72, 72, 174);
    border-width: 5px;
}

nav,
.nav_bar {
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* text styles */
    background-color: rgb(125, 173, 239);
    font-weight: bold;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;

    position: relative;

}

/* dropdowns on nav */
.nav_bar:hover .dropdown_content {
    display: block;
}

body {
    background-color: rgb(184, 207, 238);
}

.main_ben_photo {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_para1 {
    /* positioning */
    position: center;
    top: 25%;

    /* text edits */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

}

.main_parent1 {
    /* to keep the divs next to eachother */
    width: 75%;
}

.socials {
    display: flex;
    justify-content: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.icons {
    width: 30px;
    height: 30px;
}

/* START OF CODING PROJECT PAGE CSS */

.coding_header {
    font-family: 'Courier New', Courier, monospace;
}

.coding_images {
    width: 800px;
    height: auto;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.coding_list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.coding_div1 {
    order: 1;
}

.coding_div2 {
    order: 5;
}

.coding_div3 {
    order: 6;
}

.coding_parent1 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 3;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_parent2 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 4;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_parent3 {
    /* width: 50%;
    color: rgb(252, 0, 0); */

    order: 7;
    /* flex-wrap: wrap; */
    width: 50%;
    /* margin: auto; */
    /* background: #f2f2f2; */
    padding: 25px 25px 25px 25px;
    /* box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%); */
    font-size: 1rem;
    /* min-height: 100px; */
    /* border-width: 1px;
        border-style: solid;
        border-color: rgba(127, 127, 127, 1); */
}

.coding_para1 {
    /* positioning */
    position: center;

    /* text edits */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

/* dropdown menu */
.dropdown {
    position: relative;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(174, 187, 237);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(21, 0, 255);
}

.dropdown_content a:hover {
    background-color: rgb(168, 172, 175);
}

.keywords {
    color: red;
    background-color: yellow;
}